{% extends "base.html" %}

{% block content %}

<section class="about-page">

    <h1 class="about-title">Om mig</h1>

    <div class="about-text">
        <p>
            Jeg hedder Felipe, er 24 år og bor til dagligt i Valby. Jeg er vokset op i Brøndby,
            hvor jeg har gået på folkeskole og gymnasium. Til daglig studerer jeg i indre København
            på Erhvervsakademi København, hvor jeg læser Økonomi og IT.
        </p>

        <p>
            Gennem min opvækst har jeg spillet fodbold på eliteplan i Brøndby IF, her startede jeg da
            jeg var 5 år gammel, og senere i Hvidovre IF og BK Frem. Til sidst i min karriere, da jeg
            spillede i BK Frem, rev jeg desværre mit korsbånd og min menisk over.
        </p>

        <p>
            Jeg valgte at kæmpe mig tilbage på banen, og efter 1,5 år, hvor jeg genoptrænede, kom jeg
            endelig tilbage på banen. Det varede dog ikke længe, før jeg rev mit korsbånd og min menisk igen,
            og det var så det for min fodboldkarriere. Jeg besluttede mig derefter for at fokusere på min
            uddannelse, og på daværende tidspunkt var det pilot. Grundet nogle sundhedsmæssige komplikationer, gjorde det dsv. at 
            jeg ikke kunne fortsætte på pilot uddannelsen. Jeg søgter derfor nye veje og studerer nu 
            Økonomi og IT, hvilket jeg rigtig glad for.
        </p>
    </div>

    <p class="about-signature">Felipe Vasquez</p>

</section>

{% endblock %}
