{% extends "base.html" %}

{% block content %}

<section class="about-page">

    <h1 class="about-title">Om mig</h1>

    <div class="about-text">
        <p>
            Jeg hedder Felipe, er 24 år og bor til dagligt i Valby. 
            Jeg er vokset op i Brøndby, hvor jeg både har gået på folkeskole og gymnasium. 
            Til daglig studerer jeg i indre København på Erhvervsakademi København, hvor jeg læser Økonomi og IT.
        </p>

        <p>
            Gennem min opvækst har sport fyldt meget i mit liv, og jeg spillede fodbold på eliteplan, 
            hvor jeg startede som 5-årig i Brøndby IF. Senere rykkede jeg til Hvidovre IF og BK Frem, 
            hvor min tid i elitesporten har lært mig værdien af disciplin, målrettethed og teamwork.
        </p>

        <p> 
            Under min tid i BK Frem blev jeg desværre ramt af en alvorlig skade, hvor jeg rev både korsbånd og menisk over. 
            Efter halvandet års hård genoptræning kæmpede jeg mig tilbage på banen, 
            men kort tid efter blev jeg ramt af den samme skade igen, hvilket satte et punktum for min fodboldkarriere.
        <p/>

        <p>
            Selvom det var en stor omvæltning, lærte forløbet mig meget om vedholdenhed, 
            mental styrke og evnen til at omstille mig, når livet tager en uventet drejning.
        <p/>
    
        <p>
            Efterfølgende valgte jeg at fokusere på min uddannelse og begyndte på pilotuddannelsen, 
            men på grund af sundhedsmæssige komplikationer måtte jeg ændre retning endnu en gang. 
            Det førte mig til Økonomi og IT, som jeg i dag er meget glad for og ser store muligheder i fremadrettet.
        </p>
    </div>

    <p class="about-signature">Felipe Vasquez</p>

</section>

{% endblock %}
