{% extends "base.html" %}
{% block content %}

<section class="hero">

    <div class="hero-grid">

        <div class="hero-left">
            
            <p class="hero-tag">FELIPE VASQUEZ / PORTFOLIO</p>

            <h1>
                En hjemmeside bygget fra bunden for at skabe et indblik i Felipe
            </h1>

            <p class="hero-description">
                Jeg studerer til dagligt Økonomi og IT, hvor jeg har fået erfaring nok til at bygge denne side, hvor
                jeg har samlet mit CV, min baggrund for at give et mere personligt indblik
                i hvem jeg er.
            </p>

            <div class="hero-buttons">
                <a href="{{ url_for('cv') }}" class="btn-primary">Se mit CV</a>
                <a href="{{ url_for('about') }}" class="btn-secondary">Læs om mig</a>
            </div>

        </div>

        <div class="hero-right">
            <div class="preview-card">
                <img src="{{ url_for('static', filename='images/felipe.jpeg') }}" alt="Felipe">
            </div>
        </div>

    </div>

</section>

<section class="statement fade-in">

    <div class="statement-left">
        <p class="statement-label">BAG SIDEN</p>
    </div>

    <div class="statement-right">
        <h2>
            Målet er at launche dette website for at samle min historie, mine erfaringer og mit CV
            i en løsning, der både føles professionel og personlig.
        </h2>

        <p>
            Designet holdes bevidst enkelt og minimalistisk, mhp. struktur og typografi
            får lov til at bære oplevelsen samt give mig erfaring. 
        </p>
    </div>

</section>

{% endblock %}
